<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.studyplanner.synctests"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/><application android:label="Sync Tests"/><instrumentation android:name="local.studyplanner.SyncInstrumentation" android:targetPackage="local.studyplanner.android"/><instrumentation android:name="local.studyplanner.WindowLifecycleInstrumentation" android:targetPackage="local.studyplanner.android"/></manifest>
